* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgb(236, 84, 84);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: block;
    background-color: rgb(225, 122, 142);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: grid;
    align-content: center;
   
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: none;
    height: 200px;
  }
  
  #g-recaptcha-response {
    display: block !important;
    margin: 10px 0;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  